body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
}
  
a {
    text-decoration: none;
}
  
.logo{
    max-width:100px;
 }

.header-left {
    float: left;
    display: inline-flex;
}

.header-right {
    float: right;
    display: inline-flex;
    line-height: 70px;
}

.header-right a{
    padding: 0 25px;
    color: rgb(184, 182, 182);
}

.items{
    transition: 0.5s;
}

.items:hover {
    color: white;
}


#register-btn {
    color:rgb(184, 182, 182);
    padding: 0 25px;
    transition: 0.5s;
}

#register-btn:hover {
    color:white;
    background:rgb(80, 80, 80);
    cursor: pointer;
}


#header{
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:black;
    position :fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 2px rgb(65, 63, 63);
    font-weight: bold;
}

#info{
    position : relative;
    display: inline-block;
}

#info-dropdown{
    display: none;
    background-color: black;
    color: rgb(184, 182, 182);
    width: 150px;
    position: absolute;
    left: 0;
}

#info:hover #info-dropdown{
    display: block;
}

.item:hover {
    color: white;
}

.items-drop{
    transition: 0.5s;
}

.items-drop:hover{
    background-color: rgb(80, 80, 80);
    color: white;
}

.menu{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
  
.menu-icon {
    padding-bottom: 10px;
    display: none;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#blank{
    height: 70px;
}


#agent-banner{
    background-image: url(../asset/wallpaper4.jpg);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#agent-banner div{
    color: white;
    font-size: 3em;
    font-weight: bold;
    
}

#container{
    height: 600px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

#slider{
    width: 1100%;
    height: 600px;
    position: relative;
}

.agent{
    width: 800px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.agent img{
    width: 400px;
    height: 600px;
}

.agent-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2vh;
    padding-right: 3vh;
    width: 400px;
    height: 600px;
}

.agent-name{
    font-size: 3em;
    font-weight: bolder;
    color: rgb(250, 59, 59);
}

.desc{
    font-size: 1.2em;

}

#prev, #next{
    width: 30px;
    height: 30px;
    border-top: 4px black solid;
    position: absolute;
    cursor: pointer;
    top: 35vh;
    z-index: 3;
}

#prev{
    border-left: 4px black solid;
    transform: rotate(-45deg);
    left: 2%;
    transition: 0.3s;
}

#prev:hover{
    border-top: 6px red solid;
    border-left: 6px red solid;
    left: 1%
}

#next{
    border-right: 4px black solid;
    transform: rotate(45deg);
    left: 94%;
    transition: 0.3s;
}

#next:hover{
    border-top: 6px red solid;
    border-right: 6px red solid;
    left: 95%;
}

#footer {
    color: rgb(184, 182, 182);
    padding: 50px;
    text-align: center;
    background: rgb(0, 0, 0);
}

.footer-logo {
    max-width:100px;
}

.footer-socmed {
    display: inline-flex;
}

.socmed-logo {
    display: inline-block;
    max-width: 55px;
    padding: 10px 8px;
    margin: 15px;
}

.footer-middle p {
    line-height: 5px;
    font-size: 14px;
    font-weight: 600;
}

.footer-bottom {
    padding-top: 40px;
}

.footer-bottom a {
    padding: 0 25px;
    display: inline-block;
    color: rgb(184, 182, 182);
}

.footer-bottom a:hover {
    text-decoration: underline;
}

@media all and (max-width: 800px) {
    *{
      float:unset;
      padding:unset;
      margin:unset;
      
    }

    /* header */
    .header-right{
        display:none;
    }
        
    header{
        padding-left: 5px;
        padding-right: 25px;
    } 
    
    .menu-icon{
        padding:unset;
        float: right;
        display: block;
      }
    
    .menu{
        margin-right:unset;
    }

    #agent-banner{
        background-position: right;
    }

    .agent-desc{
        padding-right: 6vw;
    }


     /* footer */
    footer {
        float: unset;
        flex-direction: column;
        min-height: 550px;
    }

    .footer-socmed {
        flex-direction: column;
    } 

    .socmed-logo {
        margin: 3px;
    }

    .footer-middle {
        float: unset;
        text-align: center;
 
    }

    .footer-middle p {
        margin: 12px;
        font-size: 8px;
    }

    .footer-click {
        font-size: 10px;
        width: 70%;
    }
} 